<!DOCTYPE html>
<html lang="en" xml:lang="en">

<head>
<!-- Primary Meta Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta name="theme-color" content="#1d1d1d"/>
    
<title>Intern.ph: an internship & compensation database</title>
<link rel="shortcut icon" href="favicon.png">
<meta name="title" content="Intern.ph: an internship & compensation database">
<meta name="description" content="Find the top Philippine companies that compensate interns through this anonymous database.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://intern.ph">
<meta property="og:title" content="Intern.ph: an internship & compensation database">
<meta property="og:description" content="Find the top Philippine companies that compensate interns through this anonymous database.">
<meta property="og:image" content="https://intern.ph/preview.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://intern.ph">
<meta property="twitter:title" content="Intern.ph: an internship & compensation database">
<meta property="twitter:description" content="Find the top Philippine companies that compensate interns through this anonymous database.">
<meta property="twitter:image" content="https://intern.ph/preview.jpg">
    
    

    <link rel="stylesheet" href="assets/clean.css" type="text/css">
    <link rel="stylesheet" href="assets/main.css" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>


<body>

    <div id="container">

        <div class="box" id="header">
            <div class="box-inner">

            
            <header>
            
            <h1 class="site-title"><span>Intern.ph</span> Pay interns. </h1>
            
            <p>Essentially: unpaid internships perpetuate inequality and lead to poorer work. The Philippines might still be far from justice on this end, but if you have the agency to choose, we hope this list helps you find some pretty cool companies to work.</p>
            </header>

            <div class="resource-links">
                <a class="link" href="http://bit.ly/payinternsph">Add an internship?</a>

            </div>
            </div>
        </div>

        <div class="box" id="list">


            <div id="internships">
                
                <div class="internships-top">
                <h2> <span id="count"></span> companies & counting... </h2>
                
                <input class="t-search" type="text" v-model="search" placeholder="Search company...">
                    
                </div>
                
                    <table class="internship-table" v-if="entries">
                        <thead>
                            <tr>
                                <th  v-on:click="sortTable(company)" class="th-sort">
                                    Company
                                </th>
                                <th v-on:click="sortTable(pay)" class="th-sort">
                                    Pay?
                                </th>
                                <th>
                                    Notes
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="entry in query">
                        
                              <td class="t-name">
                                  {{ entry.company }}
                              </td>  
                              <td class="t-pay" :data-pay="entry.pay">
                                  {{ entry.pay }}
                              </td>  
                              <td class="t-notes">
                                  {{ entry.notes }}
                              </td>  
                            </tr>
                        </tbody>
                    </table>

            </div>


            <div class="box" id="footer">
                <footer>
                    Last updated <span id="last"></span>. 
                    Created for justice by <a href="https://developh.org" target="_blank" rel="noreferrer">Developh</a> in 2020. &hearts;
                </footer>

            </div>

    </div>

    <script src="main.js" type="module"></script>

</body>

</html>
