<html>

<head>
    
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>


</head>

<body>



    <div id="main-list">
        
   <table id="internships">
  <thead>
    <tr>
      <th v-for="col in columns" v-on:click="sortTable(col)">{{col}}
        <div class="arrow" v-if="col == sortColumn" v-bind:class="ascending ? 'arrow_up' : 'arrow_down'"></div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="row in rows">
      <td v-for="col in columns">{{row[col]}}</td>
    </tr>
  </tbody>
</table>

    </div>
        

    <script src="main.js"></script>

</body></html>