:root {

    --accent: #fff;
    --accent-over: #e5e0e0;

}

.box{
    max-width:1000px;
}

h1.site-title{
    font-size:3.8em;
    padding-top:.5em;
}

a.link {
    display: inline-block;
    border-radius: 3px;
    padding: .5em;
    min-width: 100px;
    text-decoration: none;
    font-size: 1.2em;
    margin: .2em 1em;
    border: 1px solid var(--accent);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a.link:hover {
    background: #000;
    color: #fff;
}


/* TABLE */



table#internships {
    padding: 1em;
    max-width:900px;
    border-collapse: collapse;
}

th {
    min-width: 150px;
}

td{
    padding:1.3em 1em;
    vertical-align: top !important;
}

tr{
    line-height:3.5em;
    vertical-align: middle;
    border-bottom:1px solid #ccc;
}

tr td{
}

thead {
    color: var(--accent);
    text-transform: capitalize;
    cursor: s-resize;
}

td.t-name{
    font-weight:600;
    color:#fff;
    line-height:1.3em;
    
}

td.t-pay{font-size:.9em; line-height:1.3em;}

td.t-notes{
    font-size:.8em;
    line-height:1.3em;
}

/* FOOTER */

#footer a,
footer a {
    text-decoration: none;
    color: var(--accent);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#footer a:hover,
footer a:hover {
    color: var(--accent-over);
    text-shadow: 0 0 15px var(--accent-over);
}
