:root {

    --accent: #fff;
    --accent-over: #e5e0e0;

}

.box{
    max-width:1000px;
}

#header.box{
    padding-bottom:2em;
    min-height:300px;
    height:30vw;
    max-height:420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .box-inner{
    padding:5vw;
    box-sizing: border-box;
}

#list.box{
    
    padding-bottom:2em;
}

h1.site-title{
    font-size:3.8em;
    padding-top:.5em;
    color:#fff;

}

a.link {
    display: inline-block;
    border-radius: 3px;
    padding: .5em;
    min-width: 100px;
    text-decoration: none;
    font-size: 1.2em;
    margin: .2em 1em;
    border: 1px solid var(--accent);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a.link:hover {
    background: #000;
    color: #fff;
}


/* TABLE */

#internships h1{
    float:left;
}

#internships input.t-search{
    float:right;
    display:inline-block;
    width:60%;
    max-width:270px;
}

@media screen and (max-width: 800px){
    
    #internships h1, #internships input.t-search{
        float:left;
        clear:both;
    }
       
}

table {
    display: block;
    clear: both;
    margin:1em 0;
    width:100%;
    max-width:900px;
    border-collapse: collapse;
    font-size:1.2em;
    
}

table.internship-table{
    margin:2em 0;
    padding:1em 0;
}

thead tr{
    text-align: left;
}

th {
    padding:0 1em;
}

td{
    box-sizing: border-box;
    padding:1.3em 1em;
    vertical-align: top !important;
}

tr{
    line-height:3.5em;
    vertical-align: middle;
    border-bottom:1px solid #ccc;
}

tr td{
}

th.th-sort{cursor: s-resize;}

thead {
    color: var(--accent);
    text-transform: capitalize;
}

td.t-name{
    font-weight:600;
    color:#fff;
    line-height:1.3em;
    width:25%;
    max-width:150px;
}

td.t-pay{font-size:.7em; line-height:1.3em; width:18%; padding-top:2em;}

td.t-notes{
    font-size:.6em;
    line-height:1.3em;
    width:57%;
}

/* FOOTER */

#footer a,
footer a {
    text-decoration: none;
    color: var(--accent);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#footer a:hover,
footer a:hover {
    color: var(--accent-over);
    text-shadow: 0 0 15px var(--accent-over);
}
