<!DOCTYPE html>
<html>

<head>


    <title>Interns.ph</title>

    <link rel="stylesheet" href="assets/clean.css" type="text/css">
    <link rel="stylesheet" href="assets/main.css" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>



<body>

    <div id="container">

        <div class="box" style="min-height:100px;padding-bottom:2em;">

            <h1>About</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat gravida arcu, ac vehicula est dapibus tempor. Nam pretium sapien quis leo interdum egestas. Donec id auctor nisl. Mauris eget aliquam libero. In cursus interdum diam, sed laoreet odio sodales eget. Integer vel mauris vitae risus vehicula tempor. Suspendisse eleifend eget sem nec rutrum. Proin sem dolor, tempor ut mauris id, auctor laoreet enim. Cras elementum tellus eros, a elementum neque auctor vel. Phasellus dictum consequat nisi, et commodo metus dignissim iaculis.</p>

            <div class="resource-links">
                <a class="link" href="">Link</a>
                <a class="link" href="">Link</a>
                <a class="link" href="">Link</a>
                <a class="link" href="">Link</a>

            </div>

        </div>

        <div class="box" style="padding-bottom:2em">


            <div id="main-list">
                <h1 style="text-align: center;">Main</h1>

                <center>
                    <table id="internships">
                        <thead>
                            <tr>
                                <th v-for="col in columns" v-on:click="sortTable(col)">{{col}}
                                    <div class="arrow" v-if="col == sortColumn" v-bind:class="ascending ? 'arrow_up' : 'arrow_down'"></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="row in rows">
                                <td v-for="col in columns">{{row[col]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </center>

            </div>


            <div class="box" id="footer" style="padding-top:2em;">
                <footer>
                    Footer element. &nbsp;
                    Created by <a href="https://developh.org" target="_blank">Developh</a> in 2020.
                </footer>

            </div>

        </div>
    </div>

    <script>
        // Make sure it is public or set to Anyone with link can view 
        var url = "https://spreadsheets.google.com/feeds/list/1073N87suMlax63_94Jip5AaQxcq2Hxw5EnTJYMNKbg0/2/public/basic?alt=json";

        var entry;

        $.getJSON(url, function(res) {

                var entry = res.feed.entry[1];

                var item = res.feed.entry[1];

                console.log(entry);
            })
            .done(function(res) {
                console.log("done!");
                entry = res;
                data = res;

                console.log(data);
            });

    </script>

    <script src="main.js" type="module"></script>

</body>

</html>
