<!DOCTYPE html>
<html>

<head>


    <title>Interns.ph</title>

    <link rel="stylesheet" href="assets/clean.css" type="text/css">
    <link rel="stylesheet" href="assets/main.css" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>



<body>

    <div id="container">

        <div class="box" style="min-height:20vh;padding-bottom:2em;">

            <h1 class="site-title">Pay interns.</h1>
            <p>Essentially: unpaid internships perpetuate inequality and poorer work. The Philippines might still be far from justice on this end, but if you have the agency to choose, we hope this list helps you find meaningful companies to work for.</p>

            <div class="resource-links">
                <a class="link" href="http://bit.ly/payinternsph">Add an internship?</a>

            </div>

        </div>

        <div class="box" style="padding-bottom:2em">


            <div id="internships">
                
                <h1 style="text-align: center;"> <span id="count"></span> companies & counting... </h1>
                
                <input class="t-search" type="text" v-model="search" placeholder="Search company...">

                <center>
                    
  
                    
                    <table v-if="entries">
                        <thead>
                            <tr>
                                <th v-on:click="sortTable(col)">
                                    Company
                                </th>
                                <th v-on:click="sortTable(col)">
                                    Pay?
                                </th>
                                <th>
                                    Notes
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="entry in query">
                        
                              <td class="t-name">
                                  {{ entry.company }}
                              </td>  
                              <td class="t-pay">
                                  {{ entry.pay }}
                              </td>  
                              <td class="t-notes">
                                  {{ entry.notes }}
                              </td>  
                            </tr>
                        </tbody>
                    </table>
                </center>

            </div>


            <div class="box" id="footer" style="padding-top:2em;">
                <footer>
                    Last updated <span id="last"></span>. 
                    Created for justice by <a href="https://developh.org" target="_blank">Developh</a> in 2020. &hearts;
                </footer>

            </div>

        </div>
    </div>

    <script>
       

    </script>

    <script src="main.js" type="module"></script>

</body>

</html>
