<html>
<head>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    

</head>

<body>


    <div id="main-list">aa

        <table id="internships">
            <thead>
            <tr>
            <th v-for="col in columns" v-on:click="sortTable(col)">{{col}}
                <div class="arrow" v-if="col == sortColumn" v-bind:class="ascending ? 'arrow_up' : 'arrow_down'"></div>
            </th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="row in rows">
                    <td v-for="col in columns">{{row[col]}}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <script src="internships.js"></script>
    <script src="main.js" type="module"></script>

</body></html>